<h1> Movies </h1>
<ul>
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <%= link_to "Delete",
      list_path(list),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    <% end %>
</ul>

<%= link_to ' Add new List',  new_list_path(@list) %>
